# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\4.1 ONE NOTES\ML Codes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
